DB_LOCAL=mongodb://localhost:27017/your_database_name
DB_ONLINE_COMPASS=mongodb+srv://username:<db_password>@cluster.mongodb.net/your_database_name
DB_PASSWORD=your_db_password
PORT=3000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_min_32_chars
JWT_COOKIE_EXPIRES_IN=1
JWT_EXPIRES_IN=1D
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
HERE_GEOCODE_API_KEY=your_here_api_key
BREVO_API_KEY=your_brevo_api_key
MAILTRAP_TOKEN=your_mailtrap_token
EMAIL_FROM=your_email@example.com
MAILTRAP_PASSWORD=your_mailtrap_password
MAILTRAP_USER=your_mailtrap_user
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
